* {
  font-family: "Noto Sans KR", sans-serif;
}

.Navigation div {
  margin-right: 10px;
  margin-bottom: 0px;
}

.Home form {
  margin-top: 20px;
  text-align: center;
}

.Tweet button {
  margin-right: 10px;
}

.Tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(217, 217, 217);
}

.Tweet h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

.Navigation {
  height: 100%;
  text-align: left;
}

/* .Navigation Link {
  color: black;
} */

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* 배경색 코드를 원하는 색상으로 변경합니다. */
}

html,
body {
  height: 100%;
}

.navi {
  width: 100vh;
}
